*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(38,74,86);
    background: linear-gradient(180deg, rgba(38,74,86,1) 23%, rgba(136,145,137,1) 100%);
    height: 100vh;
}
